{% extends "layouts/base.html" %}

{% block content %}

<h1 >ABOUT</h1>
<p style="font-size: 18px; text-align: center; padding: 50px;">Introducing Django in my stack</p>
<div style="text-align: center; margin-top: 20px;">
    <p style="font-size: 16px; font-family: Arial, sans-serif;">GitHub: <a href="https://github.com/Joaquin3312" target="_blank" style="color: #7367F0;">Joaquin3312</a></p>
    <p style="font-size: 16px; font-family: Arial, sans-serif;">Email: <a href="mailto:joaquinpintorrr@gmail.com" style="color: #7367F0;">joaquinpintorrr@gmail.com</a></p>
</div>

{% endblock %}